fontawesome-subset/assetTemplates
fontawesome-subset/js
fontawesome-subset/js-packages
fontawesome-subset/less
fontawesome-subset/LICENSE.txt
fontawesome-subset/metadata
fontawesome-subset/otfs
fontawesome-subset/README.md
fontawesome-subset/scss
fontawesome-subset/sprites
fontawesome-subset/svgs

