@import "../../../scss/lib/bootstrap-partial.scss";
@import "../../../scss/variables.scss";

.page-header {
  @include make-container();
  max-width: var(--container-width-wide);

  display: flex;
  align-items: top;
  justify-content: start;
}

.page-header__branding {
  /* TODO: turn header height into variable */
  height: 80px;
}

.page-header__branding .region-branding,
.page-header__branding .block {
  height: 100%;
}

.page-header__branding .block-system-branding-block img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}
